{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits list</h1>

    <table>
        <thead>
            <tr>
                <th>Idproduit</th>
                <th>Referenceproduit</th>
                <th>Nomproduit</th>
                <th>Prixproduit</th>
                <th>Photoproduit</th>
                <th>Quantiteproduit</th>
                <th>Active</th>
                <th>Idpromotion</th>
                <th>Categoriemagasin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produits_show', { 'idproduit': produit.idproduit }) }}">{{ produit.idproduit }}</a></td>
                <td>{{ produit.referenceproduit }}</td>
                <td>{{ produit.nomproduit }}</td>
                <td>{{ produit.prixproduit }}</td>
                <td>{{ produit.photoproduit }}</td>
                <td>{{ produit.quantiteproduit }}</td>
                <td>{% if produit.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ produit.idpromotion }}</td>
                <td>{{ produit.categoriemagasin }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produits_show', { 'idproduit': produit.idproduit }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produits_edit', { 'idproduit': produit.idproduit }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produits_new') }}">Create a new produit</a>
        </li>
    </ul>
{% endblock %}
