{% extends"base.html.twig" %}
{% block body %}
    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h2>Top selling offers</h2>
            <div class="grid_3 grid_5">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">All Offers</a></li>
                        <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Daily Offers</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                            <div class="agile-tp">
                                <h5>All Offers</h5>
                                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
                            </div>
                            <div class="agile_top_brands_grids">
                                {% for promotion in promotions %}
                                <div class="col-md-4 top_brand_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block" >
                                                        <div class="snipcart-thumb">
                                                            <a href="products.html"><img title=" " alt=" " src="{{ asset('uploads/Images/') }}{{ promotion.idproduit.photoproduit }}"  style="width: 200px;height: 250px" /></a>
                                                            <p>{{ promotion.idproduit.nomproduit }}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                                            </div>
                                                            <h4>{{ promotion.newPrix }} TND <span>{{ promotion.idproduit.prixproduit }} TND</span></h4>
                                                        </div>
                                                        <div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="20.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div><br></div>
                                </div>


                                    {% endfor %}
                                <div class="clearfix"><br> </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                            <div class="agile-tp">
                                <h5>Daily Offers</h5>
                                <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
                            </div>
                            <div class="agile_top_brands_grids">
                                {% for promotion in promotionsO %}
                                <div class="col-md-4 top_brand_left">
                                    <div class="hover14 column">
                                        <div class="agile_top_brand_left_grid">
                                            <div class="agile_top_brand_left_grid_pos">
                                                <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive" />
                                            </div>
                                            <div class="agile_top_brand_left_grid1">
                                                <figure>
                                                    <div class="snipcart-item block" >
                                                        <div class="snipcart-thumb">
                                                            <a href="products.html"><img title=" " alt=" " src="{{ asset('uploads/Images/') }}{{ promotion.idproduit.photoproduit }}"  style="width: 200px;height: 250px" /></a>
                                                            <p>{{ promotion.idproduit.nomproduit }}</p>
                                                            <div class="stars">
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                                                <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                                            </div>
                                                            <h4>{{ promotion.newPrix }} TND<span>{{ promotion.idproduit.prixproduit }}TND</span></h4>
                                                        </div>
                                                        <div class="snipcart-details top_brand_home_details">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    <input type="hidden" name="cmd" value="_cart" />
                                                                    <input type="hidden" name="add" value="1" />
                                                                    <input type="hidden" name="business" value=" " />
                                                                    <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                                                                    <input type="hidden" name="amount" value="7.99" />
                                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                                    <input type="hidden" name="currency_code" value="USD" />
                                                                    <input type="hidden" name="return" value=" " />
                                                                    <input type="hidden" name="cancel_return" value=" " />
                                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div><br></div>
                                </div>
                                {% endfor %}
                                <div class="clearfix"><br> </div>
                            </div>
                        </div>
                        <center id="first2">
                            <div class="navigation">
                                {{ knp_pagination_render(promotionsO) }}
                            </div>
                        </center>

                                <div class="clearfix"> </div>
                            </div>
                        </div>

                    </div>
            <center id="first2">
                <div class="navigation">
                    {{ knp_pagination_render(promotions) }}
                </div>
            </center>
                </div>
            </div>
        </div>
    </div>
    <!-- //top-brands -->
{% endblock %}
{#<div class="col-md-4 top_brand_left">#}
    {#<div class="hover14 column">#}
        {#<div class="agile_top_brand_left_grid">#}
            {#<div class="agile_top_brand_left_grid_pos">#}
                {#<img src="images/offer.png" alt=" " class="img-responsive">#}
            {#</div>#}
            {#<div class="agile_top_brand_left_grid1">#}
                {#<figure>#}
                    {#<div class="snipcart-item block">#}
                        {#<div class="snipcart-thumb">#}
                            {#<a href="products.html"><img title=" " alt=" " src="images/7.png"></a>#}
                            {#<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sona-masoori-riz</font></font></p>#}
                            {#<div class="stars">#}
                                {#<i class="fa fa-star blue-star" aria-hidden="true"></i>#}
                                {#<i class="fa fa-star blue-star" aria-hidden="true"></i>#}
                                {#<i class="fa fa-star blue-star" aria-hidden="true"></i>#}
                                {#<i class="fa fa-star blue-star" aria-hidden="true"></i>#}
                                {#<i class="fa fa-star gray-star" aria-hidden="true"></i>#}
                            {#</div>#}
                            {#<h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">35,99 </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 55,00 $</font></font></span></h4>#}
                        {#</div>#}
                        {#<div class="snipcart-details top_brand_home_details">#}
                            {#<form action="#" method="post">#}
                                {#<fieldset>#}
                                    {#<input type="hidden" name="cmd" value="_cart">#}
                                    {#<input type="hidden" name="add" value="1">#}
                                    {#<input type="hidden" name="business" value=" ">#}
                                    {#<input type="hidden" name="item_name" value="Fortune Sunflower Oil">#}
                                    {#<input type="hidden" name="amount" value="7.99">#}
                                    {#<input type="hidden" name="discount_amount" value="1.00">#}
                                    {#<input type="hidden" name="currency_code" value="USD">#}
                                    {#<input type="hidden" name="return" value=" ">#}
                                    {#<input type="hidden" name="cancel_return" value=" ">#}
                                    {#<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" name="submit" value="Ajouter au panier" class="button"></font></font>#}
                                {#</fieldset>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                {#</figure>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}