{% extends 'baseVendeur.html.twig' %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="{{ path('souk_el_medina_pidev_homepage_Vendeur') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Evenements list</li>
            </ol>
        </div>
    </div>

    <div class="checkout">
        <div class="container">
            <h1>Evenements list</h1>
            <BR>
            <div class="checkout-right">
                <table  class="timetable_sub">
                    <thead>
                    <tr>
                        <th>Etat</th>
                        <th>Id evenement</th>
                        <th>Image</th>
                        <th>Nom de venement</th>
                        <th>Date</th>
                        <th>Date Fin</th>
                        <th>Lieu</th>
                        <th>Nombre de places</th>
                        <th>Nombre de places restante</th>
                        <th>Tarif evenement</th>
                        <th>Description evenement</th>
                        <th>Actions</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Participant</th>
                        <th>Liste desParticipant</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for evenement in evenements %}
                        <tr  class="rem1">
                            {% if evenement.verifier  ==1 %}
                            <td class="invert"><img src="{{ asset('images/checked.png') }}"style="width: 10px;height: 10px"></td>
                            {% elseif  evenement.verifier ==2  %}
                                <td class="invert"><img src="{{ asset('images/icon.png') }}"style="width: 10px;height: 10px"></td>
                            {% elseif  evenement.verifier ==3  %}
                                <td class="invert"><img src="{{ asset('images/do-not-disturb-rounded-sign.png') }}"style="width: 10px;height: 10px"></td>
                                {% else %}
                                    <td class="invert"><img src="{{ asset('images/hourglass.png') }}"style="width: 10px;height: 10px"></td>
                                    {% endif %}



                            <td class="invert"><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                            <td class="invert"><img src="{{ asset('uploads/Images/') }}{{ evenement.imagelink}}"style="width: 50px;height: 50px"></td>
                            <td class="invert">{{ evenement.nomevenement }}</td>
                            <td class="invert">{{ evenement.date }}</td>
                            <td class="invert">{{ evenement.datefin }}</td>
                            <td class="invert">{{ evenement.lieu }}</td>
                            <td class="invert">{{ evenement.nombredeplaces }}</td>
                            <td class="invert">{{ evenement.nombredesplacesrestante }}</td>
                            <td class="invert">{{ evenement.tarifevenement }}</td>
                            <td class="invert">{{ evenement.descriptionevenement }}</td>
                            {#{% if evenement.date %}{{ evenement.date|date('Y-m-d H:i:s') }}{% endif %}#}
                            <td class="invert">

                                <a href="{{ path('evenements_show', { 'id': evenement.id }) }}"><img src="{{ asset('images/job-search.png') }}"></a>

                            </td>
                            <td class="invert">
                                <div class="rem">
                                    <div ><a  href="{{ path('evenements_delete', { 'idevenement': evenement.id }) }}"><img src="{{ asset('images/rubbish-bin.png') }}"></a>
                                    </div>
                                </div>

                            </td>
                            <td class="invert">
                                <div class="rem">
                                    {% if  evenement.verifier ==3 %}
                                    <div ><img src="{{ asset('images/test (1).png') }}">
                                    </div>
                                    {% else %}
                                    <div ><a  href="{{ path('evenements_edit', { 'id': evenement.id }) }}"><img src="{{ asset('images/test (1).png') }}"></a>
                                    </div>
                                        {% endif %}
                                </div>

                            </td>
                            <td class="invert">
                                <div class="rem">
                                    <div ><a  href="{{ path('evenements_index_sub_ev', { 'id': evenement.id }) }}"><img src="{{ asset('images/subscribe-rss-button.png') }}"></a>
                                    </div>
                                </div>

                            </td>
                            <td class="invert">
                                <div class="rem">
                                    <div ><a  href="{{ path('evenements_sub_pdf', { 'id': evenement.id }) }}"><img src="{{ asset('images/pdf.png') }}"></a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <center>
        <div class="navigation">
            {{ knp_pagination_render(evenements) }}
        </div>
    </center>

{% endblock %}


