{% extends"baseAdmin.html.twig" %}
{% block body %}
    <div style="background: white"><!-- start main -->
        <div class="container">
            <div style="padding:4% 2%;"><!-- start work -->
                <div style="text-align:center">
                    <h3 style="text-align: center;
	color:#343a40;
	text-transform: uppercase;
	font-size: 28px;
	font-style: italic;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.nomevenement }}</font></font></h3>
                    <span style="font-size: 11px;
	color: #0c5460;
	line-height: 1.8em;" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">posté par: Admin | </font><font style="vertical-align: inherit;">le 27 octobre</font></font></span>
                    <center><img src="{{ asset('uploads/Images/') }}{{ evenement.imagelink }}" alt="" class="img-responsive" ></center>
                </div>
                {#<p style=" margin-top:10px;font-size: 13px;#}
                {#color: #0c5460;text-justify: newspaper;#}
                {#line-height: 1.8em;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum est simplement un faux texte de l'industrie de l'impression et de la composition. </font><font style="vertical-align: inherit;">Lorem Ipsum a été le texte factice standard de l'industrie depuis les années 1500, quand une imprimante inconnue a pris une galère de type et l'a brouillée pour faire un livre de spécimen de type. </font><font style="vertical-align: inherit;">Il a survécu non seulement cinq siècles, mais aussi le saut dans la composition électronique, demeurant essentiellement inchangé. </font><font style="vertical-align: inherit;">Il a été popularisé dans les années 1960 avec la sortie de feuilles de Letraset contenant des passages de Lorem Ipsum, et plus récemment avec des logiciels de publication assistée par ordinateur comme Aldus PageMaker, y compris des versions de Lorem Ipsum! </font><font style="vertical-align: inherit;">! </font><font style="vertical-align: inherit;">!</font></font></p>#}
                {#<p class="para" style="	font-size: 13px;#}
                {#color: #0c5460;text-justify: newspaper;#}
                {#line-height: 1.8em;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem Ipsum est simplement un faux texte de l'industrie de l'impression et de la composition. </font><font style="vertical-align: inherit;">Lorem Ipsum a été le texte factice standard de l'industrie depuis les années 1500, quand une imprimante inconnue a pris une galère de type et l'a brouillée pour faire un livre de spécimen de type. </font><font style="vertical-align: inherit;">Il a survécu non seulement cinq siècles, mais aussi le saut dans la composition électronique, demeurant essentiellement inchangé. </font><font style="vertical-align: inherit;">Il a été popularisé dans les années 1960 avec la sortie de feuilles de Letraset contenant des passages de Lorem Ipsum, et plus récemment avec des logiciels de publication assistée par ordinateur comme Aldus PageMaker, y compris des versions de Lorem Ipsum.</font></font></p>#}
                <div class="clearfix"></div>
                <div style="padding: 4% 0 0;
	margin: 4% 0 2%;
	border-top: 2px solid darkorange;">
                    <div class="col-md-6" style="padding: 0;">
                        <h5 style="	color: #2D3E50;
	background: orange;
	padding: 10px 20px;
	display: inline-block;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	font-style: italic;
	position: relative;
	top: -44px;
	margin: 0;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">détails du l'évènement</font></font></h5>
                        <div style="margin-top: 3%;">
                            <div class="col-md-3" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">titre:</font></font></span>
                            </div>
                            <div class="col-md-9" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color: #0b2e13;
	font-size: 13px;
	line-height: 1.8em;
	font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.nomevenement }}</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">date start:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1"style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color: #0b2e13;
	font-size: 13px;
	line-height: 1.8em;
	font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Le {{ evenement.date }}</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">date end:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color: #0b2e13;
	font-size: 13px;
	line-height: 1.8em;
	font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Le {{ evenement.datefin }} </font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">emplacement de l'évènement:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color:  #0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.lieu }}</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre des places:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color:  #0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.nombredeplaces}}      Place</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre des places disponible:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color:  #0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.nombredesplacesrestante }}  Place</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="f_left" style="margin-top: 3%">
                            <div class="col-md-3 f_list" style="padding: 0;">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">email</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1"style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p style="color: #0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"><a href="mailto:info@mycompany.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.iduser.email }}</font></font></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                    <div class="col-md-6 work_left" >
                        <h5 class="hide" style="color: #2D3E50;
	background: #95C233;
	padding: 10px 20px;
	display: inline-block;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	font-style: italic;
	position: relative;
	top: -44px;
	margin: 0;">work description</h5>
                        <div style="margin-top: 3%;">
                            <div class="col-md-3 f_list" style="padding: 0">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarif:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1">
                                <p  style="color:#0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ evenement.tarifevenement }}</font></font></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div style="margin-top: 3%;">
                            <div class="col-md-3 " style="padding: 0">
                                <span style="display:block;
	text-transform: capitalize;
	color: #0c5460;
	font-size: 14px;
	font-weight: 700;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">la description:</font></font></span>
                            </div>
                            <div class="col-md-9 f_list1" style="float: left;
		width: 64.3333%;
		margin-left: 10px;">
                                <p  style="color: #0b2e13;
                                font-size: 13px;
                                line-height: 1.8em;
                                font-weight: 600;"> {{ evenement.descriptionevenement }}</p>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div style="margin-top: 3%;">
                            <div class="col-md-3 " style="padding: 0">

                            </div>
                            <div class="col-md-9 f_list1" style="float: left;margin-top: 150px;
		width: 64.3333%;
		margin-left: 10px;">

                                <div class="checkout-right">
                                    <table class="timetable_sub">
                                        <tr>
                                            <td class="invert">

                                                <a href="{{ path('evenements_index_admin', { 'id': evenement.id }) }}"><img src="{{ asset('images/job-search.png') }}"></a>

                                            </td>
                                            <td class="invert">
                                                <div class="rem">
                                                    <div ><a class="close1" href="{{ path('evenements_delete_admin', { 'idevenement': evenement.id }) }}"><img src="{{ asset('images/rubbish-bin.png') }}"></a>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}