{% extends "base.html.twig" %}

 {% block body %}
  <!-- //navigation -->
  <!-- main-slider -->
<ul id="demo1">
    {% for evenement in evenements %}
     <li>
      <a href="{{ path('evenements_show_INC', { 'id': evenement.id }) }}"><img src="{{ asset('uploads/Images/') }}{{ evenement.imagelink}}" alt="" /></a>
      <!--Slider Description example-->
      <div class="slide-desc">
       <h3>{{ evenement.nomevenement }}</h3>
      </div>
     </li>
    {% endfor %}
    {% for promotion in promotionsO %}
     <li>
      <a href="{{ path('souk_el_medina_pidev_detail',{'id':promotion.idpromotion}) }}">
       <img src="{{ asset('uploads/Images/') }}{{ promotion.imagelink}}" alt="" />
      </a>
      <!--Slider Description example-->
      <div class="slide-desc">
       <h3>{{ promotion.nompromotion }}</h3>
      </div>
     </li>
    {% endfor %}

</ul>
  <!-- //main-slider -->
  <!-- top-brands -->
  <div class="top-brands">
   <div class="container">
    <h2>Top selling offers</h2>
    <div class="grid_3 grid_5">
     <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
       <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Advertised offers</a></li>
       <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Today Offers</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
       <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
        <div class="agile-tp">
         <h5>Advertised this week</h5>
         <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
        </div>
        <div class="agile_top_brands_grids">
            {% set counter =0 %}


            {% for produit in Produits %}

                {% set counter=counter+1 %}


             <div class="agile_top_brands_grids">
              <div class="col-md-4 top_brand_left">
               <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                 <div class="agile_top_brand_left_grid_pos">
                  <img src="images/offer.png" alt=" " class="img-responsive" />
                 </div>
                 <div class="agile_top_brand_left_grid1">
                  <figure>
                   <div class="snipcart-item block" >
                    <div class="snipcart-thumb">
                     <a href="{{ path('souk_el_medina_pidev_detail',{'id':produit.idproduit}) }}"><img title=" " alt=" " src="{{ asset('uploads/Images/') }}{{ produit.photoproduit }}" style="width: 200px;height: 250px"  /></a>
                     <p>{{ produit.nomproduit }}</p>
                     <div class="stars">
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star blue-star" aria-hidden="true"></i>
                      <i class="fa fa-star gray-star" aria-hidden="true"></i>
                     </div>
                     <h4>${{ produit.prixproduit }}.00<span>$55.00</span></h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                     <form action="{{ path('souk_el_medina_panier_ajouter_panier',{'id': produit.idproduit}) }}"  method="get">
                      <fieldset>
                       <input type="hidden" name="cmd" value="" />
                       <input type="hidden" name="add" value="{{ produit.idproduit }}" />
                       <input type="hidden" name="business" value=" " />
                       <input type="hidden" name="item_name" value="{{ produit.nomproduit }}" />
                       <input type="hidden" name="amount" value="{{ produit.prixproduit }}" />
                       <input type="hidden" name="discount_amount" value="1.00" />
                       <input type="hidden" name="currency_code" value="USD" />
                       <input type="hidden" name="return" value=" " />
                       <input type="hidden" name="cancel_return" value=" " />
                          {% if panier[produit.idproduit] is not defined %}
                           <input type="submit" name="submit" value="Add to cart" class="button" />
                          {% else %}
                           <a href="{{ path('souk_el_medina_panier_homepage') }}">  <input type="submit" name="submit" value="IN CART" class="button" /></a>

                          {% endif %}
                      </fieldset>
                     </form>
                    </div>
                   </div>
                  </figure>
                 </div>
                </div>
               </div>
              </div>

                 {% if counter ==3 %}
                  <div class="clearfix"> </div>
                     {% set counter=0 %}
                 {% endif %}
             </div>

            {% endfor %}

         <div class="clearfix"> </div>
        </div>
       </div>
       <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
        <div class="agile-tp">
         <h5>This week</h5>
         <p class="w3l-ad">We've pulled together all our advertised offers into one place, so you won't miss out on a great deal.</p>
        </div>
        <div class="agile_top_brands_grids">

            {% set counter =0 %}


            {% for promotion in promotionsO %}

                {% set counter=counter+1 %}
             <div class="col-md-4 top_brand_left">
              <div class="hover14 column">
               <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                 <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive" />
                </div>
                <div class="agile_top_brand_left_grid1">
                 <figure>
                  <div class="snipcart-item block" >
                   <div class="snipcart-thumb">
                    <a href="{{ path('souk_el_medina_pidev_detail',{'id':promotion.idproduit.idproduit}) }}"><img title=" " alt=" " src="{{ asset('uploads/Images/') }}{{ promotion.idproduit.photoproduit }}"  style="width: 200px;height: 250px" /></a>
                    <p>{{ promotion.idproduit.nomproduit }}</p>
                    <div class="stars">
                     <i class="fa fa-star blue-star" aria-hidden="true"></i>
                     <i class="fa fa-star blue-star" aria-hidden="true"></i>
                     <i class="fa fa-star blue-star" aria-hidden="true"></i>
                     <i class="fa fa-star blue-star" aria-hidden="true"></i>
                     <i class="fa fa-star gray-star" aria-hidden="true"></i>
                    </div>
                    <h4>{{ promotion.idproduit.newPrix }} TND<span>{{ promotion.idproduit.prixproduit }}TND</span></h4>
                   </div>

                   <div class="snipcart-details top_brand_home_details">
                    <form action="{{ path('souk_el_medina_panier_ajouter_panier',{'id':promotion.idproduit.idproduit}) }}" method="get">
                     <fieldset>
                      <input type="hidden" name="cmd" value="" />
                      <input type="hidden" name="add" value="1" />
                      <input type="hidden" name="business" value=" " />
                      <input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
                      <input type="hidden" name="amount" value="7.99" />
                      <input type="hidden" name="discount_amount" value="1.00" />
                      <input type="hidden" name="currency_code" value="USD" />
                      <input type="hidden" name="return" value=" " />
                      <input type="hidden" name="cancel_return" value=" " />
                         {% if panier[promotion.idproduit.idproduit] is not defined %}
                          <input type="submit" name="submit" value="Add to cart" class="button" />
                         {% else %}
                          <a href="{{ path('souk_el_medina_panier_homepage') }}">  <input type="submit" name="submit" value="IN CART" class="button" /></a>

                         {% endif %}</fieldset>
                    </form>
                   </div>
                  </div>
                 </figure>
                </div>
               </div>
              </div>
              <div><br></div>

                {% if counter ==3 %}
                 <div class="clearfix"> </div>
                    {% set counter=0 %}
                {% endif %}
             </div>
            {% endfor %}
         <div class="clearfix"><br> </div>
        </div>

         <div class="clearfix"> </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <!-- //top-brands -->
  <!-- Carousel
     ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
    <div class="item active">
     <a href="beverages.html"> <img class="first-slide" src="{{ asset('images/b1.jpg') }}" alt="First slide"></a>

    </div>
    <div class="item">
     <a href="personalcare.html"> <img class="second-slide " src="{{ asset('images/b3.jpg') }}" alt="Second slide"></a>

    </div>
    <div class="item">
     <a href="household.html"><img class="third-slide " src="{{ asset('images/b1.jpg') }}" alt="Third slide"></a>

    </div>
   </div>

  </div><!-- /.carousel -->
  <!--banner-bottom-->
  <div class="ban-bottom-w3l">
   <div class="container">
    <div class="col-md-6 ban-bottom3">
     <div class="ban-top">
      <img src="{{ asset('images/p2.jpg') }}" class="img-responsive" alt=""/>

     </div>
     <div class="ban-img">
      <div class=" ban-bottom1">
       <div class="ban-top">
        <img src="{{ asset('images/p3.jpg') }}" class="img-responsive" alt=""/>

       </div>
      </div>
      <div class="ban-bottom2">
       <div class="ban-top">
        <img src="{{ asset('images/p4.jpg') }}" class="img-responsive" alt=""/>

       </div>
      </div>
      <div class="clearfix"></div>
     </div>
    </div>
    <div class="col-md-6 ban-bottom">
     <div class="ban-top">
      <img src="{{ asset('images/111.jpg') }}" class="img-responsive" alt=""/>


     </div>
    </div>

    <div class="clearfix"></div>
   </div>
  </div>
  <!--banner-bottom-->
  <!--brands-->
  <div class="brands">
   <div class="container">
    <h3>Brand Store</h3>
    <div class="brands-agile">
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>

     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="clearfix"></div>
    </div>
    <div class="brands-agile-1">
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>

     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="clearfix"></div>
    </div>
    <div class="brands-agile-2">
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>

     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="col-md-2 w3layouts-brand">
      <div class="brands-w3l">
       <p><a href="#">Lorem</a></p>
      </div>
     </div>
     <div class="clearfix"></div>
    </div>
   </div>
  </div>
  <!--//brands-->
  <!-- new -->
  <div class="newproducts-w3agile">
   <div class="container">
    <h3>New offers</h3>
    <div class="agile_top_brands_grids">
     <div class="col-md-3 top_brand_left-1">
      <div class="hover14 column">
       <div class="agile_top_brand_left_grid">
        <div class="agile_top_brand_left_grid_pos">
         <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive">
        </div>
        <div class="agile_top_brand_left_grid1">
         <figure>
          <div class="snipcart-item block">
           <div class="snipcart-thumb">
            <a href="{{ path('souk_el_medina_pidev_produit') }}"><img title=" " alt=" " src="{{ asset('images/14.png') }}"></a>
            <p>Fried-gram</p>
            <div class="stars">
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star gray-star" aria-hidden="true"></i>
            </div>
            <h4>$35.99 <span>$55.00</span></h4>
           </div>
           <div class="snipcart-details top_brand_home_details">
            <form action="#" method="post">
             <fieldset>
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="business" value=" ">
              <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
              <input type="hidden" name="amount" value="35.99">
              <input type="hidden" name="discount_amount" value="1.00">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="return" value=" ">
              <input type="hidden" name="cancel_return" value=" ">
              <input type="submit" name="submit" value="Add to cart" class="button">
             </fieldset>
            </form>
           </div>
          </div>
         </figure>
        </div>
       </div>
      </div>
     </div>
     <div class="col-md-3 top_brand_left-1">
      <div class="hover14 column">
       <div class="agile_top_brand_left_grid">
        <div class="agile_top_brand_left_grid_pos">
         <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive">
        </div>
        <div class="agile_top_brand_left_grid1">
         <figure>
          <div class="snipcart-item block">
           <div class="snipcart-thumb">
            <a href="{{ path('souk_el_medina_pidev_produit') }}"><img title=" " alt=" " src="{{ asset('images/15.png') }}"></a>
            <p>Navaratan-dal</p>
            <div class="stars">
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star gray-star" aria-hidden="true"></i>
            </div>
            <h4>$30.99 <span>$45.00</span></h4>
           </div>
           <div class="snipcart-details top_brand_home_details">
            <form action="#" method="post">
             <fieldset>
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="business" value=" ">
              <input type="hidden" name="item_name" value="basmati rise">
              <input type="hidden" name="amount" value="30.99">
              <input type="hidden" name="discount_amount" value="1.00">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="return" value=" ">
              <input type="hidden" name="cancel_return" value=" ">
              <input type="submit" name="submit" value="Add to cart" class="button">
             </fieldset>
            </form>
           </div>
          </div>
         </figure>
        </div>
       </div>
      </div>
     </div>
     <div class="col-md-3 top_brand_left-1">
      <div class="hover14 column">
       <div class="agile_top_brand_left_grid">
        <div class="agile_top_brand_left_grid_pos">
         <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive">
        </div>
        <div class="agile_top_brand_left_grid_pos">
         <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive">
        </div>
        <div class="agile_top_brand_left_grid1">
         <figure>
          <div class="snipcart-item block">
           <div class="snipcart-thumb">
            <a href="{{ path('souk_el_medina_pidev_produit') }}"><img src="{{ asset('images/16.png') }}" alt=" " class="img-responsive"></a>
            <p>White-peasmatar</p>
            <div class="stars">
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star gray-star" aria-hidden="true"></i>
            </div>
            <h4>$80.99 <span>$105.00</span></h4>
           </div>
           <div class="snipcart-details top_brand_home_details">
            <form action="#" method="post">
             <fieldset>
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="business" value=" ">
              <input type="hidden" name="item_name" value="Pepsi soft drink">
              <input type="hidden" name="amount" value="80.00">
              <input type="hidden" name="discount_amount" value="1.00">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="return" value=" ">
              <input type="hidden" name="cancel_return" value=" ">
              <input type="submit" name="submit" value="Add to cart" class="button">
             </fieldset>
            </form>
           </div>
          </div>
         </figure>
        </div>
       </div>
      </div>
     </div>
     <div class="col-md-3 top_brand_left-1">
      <div class="hover14 column">
       <div class="agile_top_brand_left_grid">
        <div class="agile_top_brand_left_grid_pos">
         <img src="{{ asset('images/offer.png') }}" alt=" " class="img-responsive">
        </div>
        <div class="agile_top_brand_left_grid1">
         <figure>
          <div class="snipcart-item block">
           <div class="snipcart-thumb">
            <a href="products.html"><img title=" " alt=" " src="{{ asset('images/17.png') }}"></a>
            <p>Channa-dal</p>
            <div class="stars">
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star blue-star" aria-hidden="true"></i>
             <i class="fa fa-star gray-star" aria-hidden="true"></i>
            </div>
            <h4>$35.99 <span>$55.00</span></h4>
           </div>
           <div class="snipcart-details top_brand_home_details">
            <form action="#" method="post">
             <fieldset>
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1">
              <input type="hidden" name="business" value=" ">
              <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
              <input type="hidden" name="amount" value="35.99">
              <input type="hidden" name="discount_amount" value="1.00">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="return" value=" ">
              <input type="hidden" name="cancel_return" value=" ">
              <input type="submit" name="submit" value="Add to cart" class="button">
             </fieldset>
            </form>
           </div>
          </div>
         </figure>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix"> </div>
    </div>
   </div>
  </div>
  <!-- //new -->
 {% endblock %}

