
{% extends "baseVendeur.html.twig" %}

 {% block body %}


         <meta name="description" content="Liste des évènements">





         <!-- Latest compiled and minified JavaScript -->
         <script src="{{ asset('Artisans/jquery.rateyo.min.js.téléchargement') }}"></script>
         <script src="{{ asset('Artisans/smart-app-banner.js.téléchargement') }}"></script>



         <!-- breadcrumbs -->
         <div class="breadcrumbs">
             <div class="container">
                 <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                     <li><a href="{{ path('souk_el_medina_pidev_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                     <li class="active">Contact</li>
                 </ol>
             </div>
         </div>
         <!-- //breadcrumbs -->
         <div class="w3l_search" style="float: right; width: 250px">
             <br>
             <form action="#" method="post">
                 <input  type="search" name="Search"  id="search" placeholder="Search for a Event..." required="">

                 <div class="clearfix"></div>
             </form>
         </div>
         <div id="last"></div>

         <div id="first">
             {% for magasin in magasins %}

                 <ul id="suppliers_list"  style="content:'';display:table;margin-left:300px;margin-right:300px;position:relative;border-bottom:1px solid #d6d4d4;box-shadow:0 1px #fff;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;padding:31px 0 30px">


                     <li class=" first-in-line  first-item-of-tablet-line col-xs-12" style="list-style-type: none;clear:left; margin-bottom: 15px;">
                         <div class="mansup-container" style="font-family:'ArtisanFont','sans-serif'!important;font-size:inherit;color:#65403b;margin-right:auto !important;margin-left:auto !important;padding-left:15px !important;padding-right:15px !important";>
                             <div class="row" style="margin-left:-15px;margin-right:-15px">
                                 <div class="left-side col-xs-12 col-md-4 col-sm-4" style="padding-bottom:42px;">
                                     <!-- logo -->
                                     <div class="logo" style="height:120px;width:auto;margin:10px}.header_bottom{min-height:130px;margin-top:61px;margin-bottom:15px};">
                                         {#<a href="{{ path('evenements_show_INC', { 'id': evenement.id }) }}" title="{{ evenement.nomevenement }}">#}
                                         <a  title="{{ magasin.nommagasin }}"></a>
                                         {#<div style="background:url({{ asset('uploads/Images/') }}{{ evenement.imagelink}}) center/cover;" class="img-post"></div>#}
                                         <div ><img class="img-post" src="{{ asset('uploads/Images/') }}{{ magasin.photomagasin}}"style="width:220px;height:210px;overflow:hidden;margin:0 auto; outline: none;
                                    border: 1px solid #DBDBDB;
                                    padding: 10px 10px 10px 10px;
                                    font-size: 14px;
                                    color: #999;
                                    display: block;
                                    width: 100%;"></div>
                                         </a>
                                     </div> <!-- .logo -->
                                 </div> <!-- .left-side -->

                                 <div class="middle-side col-xs-12 col-md-8 col-sm-8" style="font-family:'ArtisanFont','sans-serif' !important;margin-top:0">
                                     <h2>
                                         <a class="event-name" style="font-family:'ArtisanFont','sans-serif' !important;color:#65403b">
                                             {{ magasin.nommagasin }}
                                         </a>
                                         {#<a class="event-name" style="font-family:'ArtisanFont','sans-serif' !important;color:#65403b" href="{{ path('evenements_show_INC', { 'id': evenement.id }) }}">#}
                                         {#{{ evenement.nomevenement }}#}
                                         {#</a>#}
                                     </h2>

                                     <div class="description" style="display:block;clear:both;font-size:11px;color:#84888f">
                                         <div class="row" style="margin-left:-15px;margin-right:-15px">
                                             <div class="col-md-6 col-sm-6 col-xs-6">
                                                 <p class="date-event" style="color:#666;font-size:13px"><i class="fa fa-user" style="content:'';color:#f2812f;width:15px;height:15px"></i> {{ magasin.iduser.nom }} {{ magasin.iduser.prenom }}</p>
                                             </div>
                                             {#<div class="col-md-6 col-sm-6 col-xs-6">#}
                                             {#<p class="event-region" style="color:#666;font-size:13px"><i class="icon-map-marker" style="content:'';color:#f2812f;width:15px;height:15px"></i>  {{ evenement.lieu }}</p>#}
                                             {#</div>#}
                                         </div>
                                         <div class="row" style="margin-left:-15px;margin-right:-15px">
                                             <div class="col-md-5  col-sm-6 col-xs-6">
                                                 <p class="date-event" style="color:#666;font-size:13px"><i class="fa fa-envelope" style="content:'';color:#f2812f;width:15px;height:15px"></i> {{ magasin.iduser.email }} </p>
                                             </div>
                                             <div class="col-md-4 col-sm-6 col-xs-6">
                                                 <p class="date-event" style="color:#666;font-size:13px"><span class="glyphicon glyphicon-phone" aria-hidden="true" style="content:'';color:#f2812f;width:15px;height:15px"></span> {{ magasin.iduser.numerodutelephone }}</p>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-6">
                                                 <p class="date-event" style="color:#666;font-size:13px"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="content:'';color:#f2812f;width:15px;height:15px"></span> {{ magasin.contactmagasin }}</p>
                                             </div>
                                             {#<div class="col-md-6 col-sm-6 col-xs-6">#}
                                             {#<p class="event-region" style="color:#666;font-size:13px"><i class="icon-map-marker" style="content:'';color:#f2812f;width:15px;height:15px"></i> N° de telephone {{ magasin.iduser.numerodetelephone }} Place Disponible</p>#}
                                             {#</div>#}
                                         </div>
                                         {#<div class=" col-lg-3 col-md-12" style="margin-top:0px;text-align:center;padding:30px;border:1px solid #f2812f;color:#fff;font-size:16px;background-color:#f2812f;text-transform:capitalize;line-height:35px;float: right"  >#}
                                         {#<div style="font-size:26px;font-weight:700;padding-bottom:15px">{{ evenement.tarifevenement }}</div>#}
                                         {#<div class="month">TND</div>#}
                                         {#</div>#}
                                         <div >
                                             <div class="col-md-4 col-sm-6 col-xs-6">
                                                 <p><i class="fa fa-wpforms" aria-hidden="true" style="content:'';color:#f2812f;width:15px;height:15px"></i>{{ magasin.descriptionmagasin }}</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div><!-- .middle-side -->
                             </div>
                         </div>
                     </li>
                     <li class=" first-in-line  last-item-of-tablet-line col-xs-12" style="list-style-type: none;clear:left;border-bottom:none">
                 </ul>


             {% endfor %}
             <center>
                 <div class="navigation">
                     {{ knp_pagination_render(magasins) }}
                 </div>
             </center>
         </div>
         <!-- contact -->
         <div class="about">
             <div class="w3_agileits_contact_grids">
                 <div class="col-md-6 w3_agileits_contact_grid_left">
                     <div class="agile_map">
                         {#<iframe#}
                         {#width="450"#}
                         {#height="250"#}
                         {#frameborder="0" style="border:0"#}
                         {#src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDcwHdDoI65jU6iHlOGv54Efo67fE_AWw0&q=dar chaabane fehrie,nabeul" allowfullscreen>#}
                         {#</iframe>#}
                         <iframe src="https://www.google.com/maps/d/embed?mid=1Suijaer8QU1tGTndLFPnqp4IQfD-yQVQ" width="640" height="480"></iframe>
                         {#<div id="map_wrapper" style="height: 400px;">#}
                         {#<div id="map_canvas" class="mapping" style="width: 100%;#}
                         {#height: 100%;"></div>#}
                         {#</div>#}
                     </div>
                     <div class="agileits_w3layouts_map_pos">
                         <div class="agileits_w3layouts_map_pos1">
                             <h3>Contact Info</h3>
                             <p>56,Rue du grand maghreb,Dar chaabane fehrie,Nabeul.Tunisie.</p>
                             <ul class="wthree_contact_info_address">
                                 <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@soukelmedina.tn</a></li>
                                 <li><i class="fa fa-phone" aria-hidden="true"></i>+(216) 20950389</li>
                             </ul>
                             <div class="w3_agile_social_icons w3_agile_social_icons_contact">
                                 <ul>
                                     <li><a href="#" class="icon icon-cube agile_facebook"></a></li>
                                     <li><a href="#" class="icon icon-cube agile_rss"></a></li>
                                     <li><a href="#" class="icon icon-cube agile_t"></a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 w3_agileits_contact_grid_right">
                     <h2 class="w3_agile_header">Leave a<span> Message</span></h2>

                     <form method="post">
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="text" id="name" name="name"  placeholder=" " required="" />
						<label class="input__label input__label--ichiro" for="name">
							<span class="input__label-content input__label-content--ichiro">Your Name</span>
						</label>
					</span>
                         <span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="email" id="email" name="email" placeholder=" " required="" />
						<label class="input__label input__label--ichiro" for="email">
							<span class="input__label-content input__label-content--ichiro">Your Email</span>
						</label>
					</span>
                         <textarea name="body" placeholder="Your message here..." id="body"  required=""></textarea>
                         <input type="submit" value="Send">
                     </form>
                 </div>
                 <div class="clearfix"> </div>
             </div>
         </div>
         <!-- contact -->
         <script src="{{ asset('assets/jquery-3.2.1.min.js') }}"></script>
         <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
         <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
         <script>
             $(function() {
                 $("#search").keyup(function () {
                     var name = $("#search").val();
                     $.ajax({
                         type:'GET',
                         url: Routing.generate('decouvete_search_ajax_Contact', {name: name}),
                         success:function(data){
                             var user = JSON.parse(data);
                             if (user.length > 0 ){
                                 $("#first").hide();
                                 console.log(user);
                                 var result="";
                                 var newPath = "";
                                 var image="";
                                 $("#last").html("<div id='res'></div>");

                                 $.each(user,function (index, value) {
                                     var path = "{{ asset("uploads/Images/path") }}";
                                     newPath = path.replace('path', value.photomagasin);
                                     // var root = Routing.generate('evenements_show_INC', { 'id': value.id });
                                     result="<ul id='suppliers_list'  style='content:;display:table;margin-left:300px;margin-right:300px;position:relative;border-bottom:1px solid #d6d4d4;box-shadow:0 1px #fff;-webkit-box-shadow:0 1px #fff;-moz-box-shadow:0 1px #fff;padding:31px 0 30px'>";
                                     result=result+" <li class=' first-in-line  first-item-of-tablet-line col-xs-12' style='list-style-type: none;clear:left; margin-bottom: 15px;'>";
                                     result=result+"<div class='mansup-container' style='font-family:ArtisanFont,sans-serif!important;font-size:inherit;color:#65403b;margin-right:auto !important;margin-left:auto !important;padding-left:15px !important;padding-right:15px !important;'>";
                                     result=result+"<div class='row' style='margin-left:-15px;margin-right:-15px'>";
                                     result=result+"<div class='left-side col-xs-12 col-md-4 col-sm-4' style='padding-bottom:42px;'>";
                                     result=result+"<div class='logo' style='height:120px;width:auto;margin:10px}.header_bottom{min-height:130px;margin-top:61px;margin-bottom:15px;'>";
                                     result=result+"<a  title='"+value.nommagasin+"'><div ><img class='img-post' src='"+newPath+"'style='width:220px;height:210px;overflow:hidden;margin:0 auto; outline: none;order: 1px solid #DBDBDB;padding: 10px 10px 10px 10px;font-size: 14px;color: #999;display: block;width: 100%;'></div></a>";
                                     result=result+" </div>";
                                     result=result+" </div>";
                                     result=result+"<div class='middle-side col-xs-12 col-md-8 col-sm-8' style='font-family:ArtisanFont,sans-serif !important;margin-top:0'>";
                                     result=result+"<h2>";
                                     result=result+"<a class='event-name' style='font-family:ArtisanFont,sans-serif !important;color:#65403b' >"+value.nommagasin+"</a>";
                                     result=result+"</h2>";
                                     result=result+"<div class='description' style='display:block;clear:both;font-size:11px;color:#84888f'>";
                                     result=result+ "<div class='row' style='margin-left:-15px;margin-right:-15px'>";
                                     result=result+"<div class='col-md-6 col-sm-6 col-xs-6'>";
                                     result=result+"<p class='date-event' style='color:#666;font-size:13px'> <i class='fa fa-user' style='color:#f2812f;width:15px;height:15px'></i>"+value.iduser.nom+"   "+value.iduser.prenom+"</p>";
                                     result=result+"</div>";
                                     result=result+"<div class='col-md-5 col-sm-6 col-xs-6'>";
                                     result=result+"<p class='event-region' style='color:#666;font-size:13px'><i class='fa fa-envelope' style='color:#f2812f;width:15px;height:15px'></i> "+value.iduser.email+"</p>";
                                     result=result+"</div>";
                                     result=result+"<div class='col-md-4 col-sm-6 col-xs-6'>";
                                     result=result+"<p class='date-event' style='color:#666;font-size:13px'><span class='glyphicon glyphicon-phone' aria-hidden='true' style='color:#f2812f;width:15px;height:15px'></span> "+value.iduser.numerodutelephone+"</p>";
                                     result=result+"</div>";
                                     result=result+"<div class='col-md-6 col-sm-6 col-xs-6'>";
                                     result=result+"<p class='event-region' style='color:#666;font-size:13px'><span class='glyphicon glyphicon-phone-alt' aria-hidden='true' style='color:#f2812f;width:15px;height:15px'></span> "+value.contactmagasin+" </p>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"<div class='col-md-4 col-sm-6 col-xs-6'>";
                                     result=result+"<p><i class='fa fa-wpforms' aria-hidden='true' style='color:#f2812f;width:15px;height:15px'></i> "+value.descriptionmagasin+"</p>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"</div>";
                                     result=result+"</li>";
                                     result=result+"<li class=' first-in-line  last-item-of-tablet-line col-xs-12' style='list-style-type: none;clear:left;border-bottom:none'>";
                                     result=result+"</ul>";


                                     $("#res").append(result)
                                 });
                             }


                         }
                     });
                 })
             });
         </script>
         <script>
             jQuery(function($) {
                 // Asynchronously Load the map API
                 var script = document.createElement('script');
                 script.src = "//maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
                 document.body.appendChild(script);
             });

             function initialize() {
                 var map;
                 var bounds = new google.maps.LatLngBounds();
                 var mapOptions = {
                     mapTypeId: 'roadmap'
                 };

                 // Display a map on the page
                 map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                 map.setTilt(45);

                 // Multiple Markers
                 var markers = [
                     ['London Eye, London', 51.503454,-0.119562],
                     ['Palace of Westminster, London', 51.499633,-0.124755]
                 ];

                 // Info Window Content
                 var infoWindowContent = [
                     ['<div class="info_content">' +
                     '<h3>London Eye</h3>' +
                     '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
                     ['<div class="info_content">' +
                     '<h3>Palace of Westminster</h3>' +
                     '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
                     '</div>']
                 ];

                 // Display multiple markers on a map
                 var infoWindow = new google.maps.InfoWindow(), marker, i;

                 // Loop through our array of markers & place each one on the map
                 for( i = 0; i < markers.length; i++ ) {
                     var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                     bounds.extend(position);
                     marker = new google.maps.Marker({
                         position: position,
                         map: map,
                         title: markers[i][0]
                     });

                     // Allow each marker to have an info window
                     google.maps.event.addListener(marker, 'click', (function(marker, i) {
                         return function() {
                             infoWindow.setContent(infoWindowContent[i][0]);
                             infoWindow.open(map, marker);
                         }
                     })(marker, i));

                     // Automatically center the map fitting all markers on the screen
                     map.fitBounds(bounds);
                 }

                 // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
                 var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                     this.setZoom(14);
                     google.maps.event.removeListener(boundsListener);
                 });

             }
         </script>


 {% endblock %}