{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Idproduit</th>
                <td>{{ produit.idproduit }}</td>
            </tr>
            <tr>
                <th>Referenceproduit</th>
                <td>{{ produit.referenceproduit }}</td>
            </tr>
            <tr>
                <th>Nomproduit</th>
                <td>{{ produit.nomproduit }}</td>
            </tr>
            <tr>
                <th>Prixproduit</th>
                <td>{{ produit.prixproduit }}</td>
            </tr>
            <tr>
                <th>Photoproduit</th>
                <td>{{ produit.photoproduit }}</td>
            </tr>
            <tr>
                <th>Quantiteproduit</th>
                <td>{{ produit.quantiteproduit }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if produit.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Idpromotion</th>
                <td>{{ produit.idpromotion }}</td>
            </tr>
            <tr>
                <th>Categoriemagasin</th>
                <td>{{ produit.categoriemagasin }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produits_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produits_edit', { 'idproduit': produit.idproduit }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
